<div class="container-fluid">
  <div *ngIf="!done">
    <div class="text-center" style="margin-top: 30px;">
      <h1 style="margin-top: 20px;">To trzeba sprawdzić</h1>

      <p class="desc">
        Dokładnie zweryfikuj treż materiału. Sprawdź wiarygodne źródła, skonsultuj się z kimś lub z skorzystaj z własnej
        wiedzy. Jeśli co najmniej 4 innych mentorówm potwierdzi Twoją ocenę uznamy news za zweryfikowany.
      </p>
    </div>
    <div class="text-center" style="margin-top: 40px;">
      <div class="fake">
        {{ content }}
      </div>
    </div>

    <div class="text-center" style="margin-top: 40px;">
      <button
        (click)="prawda()"
        [disabled]="lock"
        style="margin-right: 20px; width: 80px;"
        pButton
        type="button"
        label="Prawda"
        class="ui-button-success"
      ></button>
      <button
        (click)="fake()"
        [disabled]="lock"
        style="width: 80px;"
        pButton
        type="button"
        label="Fake"
        class="ui-button-danger"
      ></button>
      <br />
      <a routerLink="/list" class="cancel">anuluj</a>
    </div>
  </div>
  <div *ngIf="done">
    <div class="text-center" style="margin-top: 30px;">
      <h1 style="margin-top: 20px;">Dobra robota!</h1>

      <p class="desc">
        Twoja ocena została zapisana. Gdy ocen będzie wystarczająco, dodamy ten news do bazy zweryfikowanych treści.
      </p>
    </div>
    <div class="text-center" style="margin-top: 40px;">
      <img width="320" src="/assets/done_bg.png" />
      <br />
      <strong style="display: inline-block; margin: 30px 0 10px;"
        >Wróć do listy oczekujących by sprawdzić kolejny news</strong
      >
      <br />
      <button
        pButton
        type="button"
        style="color: white;"
        routerLink="/list"
        class="ui-button"
        label="PRZEJDŹ DO LISTY"
      ></button>
    </div>
  </div>
</div>
