<div>
  <div *ngIf="!emailSubmitted" src="/assets/Unknown1.png" class="img1"></div>
  <div *ngIf="!emailSubmitted" src="/assets/Unknown2.png" class="img2"></div>
  <div *ngIf="emailSubmitted" src="/assets/Unknown3.png" class="img3"></div>
  <div class="text-center" style="margin-top: 30px;">
    <h1 style="margin-top: 20px;">Nie wiemy, ale zajmiemy się tym!</h1>
    <p class="desc" style="width: 480px; margin: auto; margin-top: 20px;">
      Nie mamy takiego materiału w bazie. Przyjmujemy Twoje zgłoszenie. Nasi moderatorzy zweryfikują je tak szybko, jak
      tylko to będzie możliwe.
    </p>
  </div>

  <div class="text-center" style="margin-top: 90px;">
    <h4>Powiadomić Cię, gdy news będzie sprawdzony?</h4>

    <div class="ui-g" style="max-width: 800px; margin: 0 auto; padding: 10px 0; justify-content: center;">
      <div class="ui-g-7">
        <span class="ui-float-label">
          <input class="w-100" id="float-input" type="text" size="30" pInputText [(ngModel)]="newsletterMail" />
          <label for="float-input">Twój adres e-mail</label>
        </span>
      </div>

      <div class="desc3">Wyślemy Ci maila na podany adres</div>
    </div>
  </div>
  <div
    *ngIf="!emailSubmitted"
    class="ui-g"
    style="
      max-width: 600px;
      margin: 0 auto;
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div class="ui-g-4">
      <button class="bigwhitebutton" pButton type="button" label="NIE, DZIĘKUJĘ"></button>
    </div>
    <div class="ui-g-4">
      <button class="bigbutton" pButton type="button" label="JASNE, POPROSZĘ!" (click)="onEmailSubmit()"></button>
    </div>
  </div>
  <div
    class="text-center"
    *ngIf="emailSubmitted"
    style="
      margin-top: 40px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.15px;

      color: #6202ee;
    "
  >
    Super, dzięki za Twój wkład!
  </div>
</div>
<!-- <img src="assets/Unknown1.png" />
<img src="assets/Unknown2.png" /> -->
