/* .verify-bg {
  background: url(/assets/Unknown1.png) no-repeat 20% bottom;
}
.home-bg {
  background: url(/assets/Unknown1.png) no-repeat 20% bottom;
} */
.img1 {
  background: url(/assets/Unknown1.png) no-repeat 10% bottom;
  position: absolute;
  width: 280px;
  height: 230.23px;
  left: 250px;
  top: 336px;
  z-index: -1;
}
.img2 {
  background: url(/assets/Unknown2.png) no-repeat 10% bottom;
  position: absolute;
  width: 134.81px;
  height: 300px;
  right: 380px;
  top: 267px;
  z-index: -1;
}
.img3 {
  background: url(/assets/Unknown3.png) no-repeat 10% bottom;
  position: absolute;
  width: 340px;
  height: 212px;
  left: 154px;
  top: 348px;
  z-index: -1;
}
p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  line-height: 16px;
}
.desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  text-align: center;
  letter-spacing: 0.5px;

  /* Black — Inactive */

  color: rgba(0, 0, 0, 0.54);
}
.desc2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.4px;

  /* Black — Inactive */

  color: rgba(0, 0, 0, 0.54);
}
.desc3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.4px;

  /* Black — Inactive */

  color: rgba(0, 0, 0, 0.54);
  width: 400px;
}
h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}
h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 30px;
  color: #000000;
}
.warning {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  text-align: center;
  letter-spacing: 0.5px;

  color: #000000;
}

.fake {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  width: 480px;
  margin: 0px auto;
  text-align: center;
  letter-spacing: 0.25px;

  /* Primary — 300 */

  color: #9e54fc;
}

.ui-button {
  height: 50px;
  color: #6200ee;
  background: #6200ee;
  border-radius: 4px;
  width: 180px;
}
.ui-button.bigbutton {
  background: #6200ee;
  border-color: #6200ee;
  color: white;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.ui-button.bigwhitebutton {
  background: #ffffff;
  color: #6200ee;
  border-color: #6200ee;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.ui-button:enabled:hover {
  background-color: #6200ee;
  color: #ffffff;
  border-color: #6200ee;
}
.ui-button:enabled:focus {
  outline: 0 none;
  outline-offset: 0px;
  -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
  -moz-box-shadow: 0 0 0 0.2em #8dcdff;
  box-shadow: 0 0 0 0.2em #8dcdff;
}
.ui-button:enabled:active {
  background-color: #6200ee;
  color: #ffffff;
  border-color: #6200ee;
}

input {
  border-radius: 3.5px;
  height: 54px;
  width: 400px;
}
