<div class="login-container">
  <div class="login-box">
    <div class="container">
      <div style="max-width: 555px; margin: 50px auto 15px;" class="text-center">
        <h1>Pomóż wykryć fake newsy</h1>
        <br />
        <p style="color: rgba(0, 0, 0, 0.54);">
          Do bazy trafiają materiały zgłaszane przez użytkowników. Przeglądaj je, weryfikuj treść i oznaczaj z innymi
          moderatorami by dostarczyć obiektywną ocenę.
        </p>
      </div>
      <div class="card col-md-6 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <img src="/assets/logo dark/180.png" width="80" />
          </h4>
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
              Username or password incorrect.
            </div>
            <div class="form-group">
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="username"
                  autocomplete="username"
                  [placeholder]="'Login' | translate"
                />
                <span hidden translate>Login</span>
                <small
                  [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
                  class="text-danger"
                  translate
                >
                  Username is required
                </small>
              </label>
              <label class="d-block">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="current-password"
                  [placeholder]="'Hasło' | translate"
                  required
                />
                <span hidden translate>Password</span>
                <small
                  [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                  class="text-danger"
                  translate
                >
                  Pole jest wymagane
                </small>
              </label>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" formControlName="remember" />
                  <span translate>Zapamiętaj mnie</span>
                </label>
              </div>
            </div>
            <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
              <span translate>Zaloguj</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
