<div>
  <div class="text-center" style="margin-top: 30px;">
    <h1 style="margin-top: 20px;">Wygląda na to, że to prawda</h1>

    <p class="desc">
      Wysłany materiał jest wiarygodny. Porównaliśmy go ze zweryfikowanymi treściami w naszej bazie.
    </p>
  </div>
  <div class="text-center" style="margin-top: 40px;">
    <div class="truth">
      {{ content }}
    </div>
  </div>

  <div class="text-center" style="margin-top: 40px;">
    <img src="assets/truth.png" />
    <h4>Tam, gdzie wątpliwości, warto sprawdzać!</h4>
  </div>
  <div class="text-center">
    <div class="warning">Jeśli chcesz kogoś poinformować, wyślij mu link do tej strony.</div>
    <div [ngSwitch]="linkCopied">
      <span *ngSwitchCase="true" class="linkCopied">Link skopiowany!</span>
      <button
        *ngSwitchCase="false"
        class="bigbutton"
        pButton
        type="button"
        label="KOPIUJ LINK"
        (click)="copyLink()"
        ngxClipboard
        [cbContent]="url"
      ></button>
    </div>
  </div>
</div>
