<div class="container-fluid">
  <div class="list-div">
    <h1>Lista oczekująca na weryfikację</h1>
    <div class="items-list">
      <div *ngFor="let item of listService.list" class="item">
        <div [routerLink]="['/moderate/', item.id]" class="ui-g">
          <div class="ui-g-1">
            <div [ngSwitch]="item.type">
              <div *ngSwitchCase="'link'">
                <svg width="28" height="14" viewBox="0 0 28 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3.19984 6.99992C3.19984 4.71992 5.05317 2.86659 7.33317 2.86659H12.6665V0.333252H7.33317C3.65317 0.333252 0.666504 3.31992 0.666504 6.99992C0.666504 10.6799 3.65317 13.6666 7.33317 13.6666H12.6665V11.1333H7.33317C5.05317 11.1333 3.19984 9.27992 3.19984 6.99992ZM8.6665 8.33325H19.3332V5.66659H8.6665V8.33325ZM20.6665 0.333252H15.3332V2.86659H20.6665C22.9465 2.86659 24.7998 4.71992 24.7998 6.99992C24.7998 9.27992 22.9465 11.1333 20.6665 11.1333H15.3332V13.6666H20.6665C24.3465 13.6666 27.3332 10.6799 27.3332 6.99992C27.3332 3.31992 24.3465 0.333252 20.6665 0.333252Z"
                    fill="black"
                    fill-opacity="0.38"
                  />
                </svg>
              </div>
              <div *ngSwitchCase="'text'">
                <svg width="42" height="35" viewBox="0 0 42 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M26.5391 3.70312H15.5703V34.125H11.0938V3.70312H0.148438V0H26.5391V3.70312Z"
                    fill="black"
                    fill-opacity="0.38"
                  />
                  <path
                    d="M36.8047 2.625V8.76562H41.5391V12.1172H36.8047V27.8438C36.8047 28.8594 37.0156 29.625 37.4375 30.1406C37.8594 30.6406 38.5781 30.8906 39.5938 30.8906C40.0938 30.8906 40.7812 30.7969 41.6562 30.6094V34.125C40.5156 34.4375 39.4062 34.5938 38.3281 34.5938C36.3906 34.5938 34.9297 34.0078 33.9453 32.8359C32.9609 31.6641 32.4688 30 32.4688 27.8438V12.1172H27.8516V8.76562H32.4688V2.625H36.8047Z"
                    fill="black"
                    fill-opacity="0.38"
                  />
                </svg>
              </div>
              <div *ngSwitchCase="'image'">image</div>
            </div>
          </div>
          <div class="ui-g-8">
            {{ item.content }}
          </div>
          <div class="ui-g-3 iconified">
            <div [ngSwitch]="item.opinion">
              <div *ngSwitchCase="'unconfirmed'">
                <i class="pi pi-check"></i> {{ item.truthCount }}/5 <i class="pi pi-times"></i> {{ item.fakeCount }}/5
              </div>
              <div *ngSwitchCase="'fake'">
                <i class="pi pi-check"></i> {{ item.truthCount }}/5 <i class="pi pi-times"></i> {{ item.fakeCount }}/5
              </div>
              <div *ngSwitchCase="'truth'">
                <i class="pi pi-check"></i> {{ item.truthCount }}/5 <i class="pi pi-times"></i> {{ item.fakeCount }}/5
              </div>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <!--
    https://ng-bootstrap.github.io/#/home
    https://primefaces.org/primeng/showcase/#/
  --></div>
</div>
