.list-div {
  width: 850px;
  margin: 0 auto;
  padding: 50px 0;
}

.items-list {
  padding: 32px 0;
  .item {
    cursor: pointer;
  }
}

.iconified {
  text-align: right;
  i.pi {
    margin-left: 20px;
    margin-right: 6px;
    background: #018786;
    border-radius: 50%;
    color: white;
    color: white;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    position: relative;
    top: 3px;
  }
  i.pi:last-child {
    background: #ff0c3e;
  }
}
