<div class="container-fluid">
  <div class="home-bg">
    <div [ngSwitch]="state">
      <div *ngSwitchCase="'fake'"><app-fake [content]="news.content"></app-fake></div>
      <div *ngSwitchCase="'truth'"><app-news [content]="news.content"></app-news></div>
      <div *ngSwitchCase="'unconfirmed'"><app-unknown></app-unknown></div>
    </div>
    <!--
    https://ng-bootstrap.github.io/#/home
    https://primefaces.org/primeng/showcase/#/
  --></div>
</div>
