<header>
  <nav *ngIf="username" class="navbar navbar-expand-lg navbar-dark bg-indigo">
    <a class="navbar-brand" href="https://www.czytoprawda.pl">
      <img src="/assets/logo white/180.png" alt="czytoprawda.pl" height="32"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">
          czytoprawda.pl
        </a>
        <a class="nav-item nav-link" routerLink="/list" routerLinkActive="active">
          <i class="fas fa-list"></i>
          <span>moderacja</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="nav-item" ngbDropdown>
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fas fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown" class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">
              <span translate>Logged in as</span> <b>{{ username }}</b>
            </h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()" translate>Logout</button>
          </div>
        </div>
        <a href="/assets/CzyToPrawdaPlugin.zip" class="nav-item download">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.0952 7.61905H12.9524V4.57143C12.9524 3.73333 12.2667 3.04762 11.4286 3.04762H8.38095V1.90476C8.38095 0.853333 7.52762 0 6.47619 0C5.42476 0 4.57143 0.853333 4.57143 1.90476V3.04762H1.52381C0.685714 3.04762 0.00761904 3.73333 0.00761904 4.57143V7.46667H1.14286C2.2781 7.46667 3.2 8.38857 3.2 9.52381C3.2 10.659 2.2781 11.581 1.14286 11.581H0V14.4762C0 15.3143 0.685714 16 1.52381 16H4.41905V14.8571C4.41905 13.7219 5.34095 12.8 6.47619 12.8C7.61143 12.8 8.53333 13.7219 8.53333 14.8571V16H11.4286C12.2667 16 12.9524 15.3143 12.9524 14.4762V11.4286H14.0952C15.1467 11.4286 16 10.5752 16 9.52381C16 8.47238 15.1467 7.61905 14.0952 7.61905Z"
              fill="#6202EE"
            />
          </svg>
          <span>WTYCZKA DO CHROME</span></a
        >
      </div>
    </div>
  </nav>
  <nav *ngIf="!username" class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="/home">
      <img src="/assets/logo dark/180.png" alt="czytoprawda.pl" height="32"
    /></a>
    <a class="nav-item nav-link nav-link-custom" routerLink="/home" routerLinkActive="active">
      czytoprawda.pl
    </a>
    <a href="/assets/CzyToPrawdaPlugin.zip" class="download alone ml-auto">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M14.0952 7.61905H12.9524V4.57143C12.9524 3.73333 12.2667 3.04762 11.4286 3.04762H8.38095V1.90476C8.38095 0.853333 7.52762 0 6.47619 0C5.42476 0 4.57143 0.853333 4.57143 1.90476V3.04762H1.52381C0.685714 3.04762 0.00761904 3.73333 0.00761904 4.57143V7.46667H1.14286C2.2781 7.46667 3.2 8.38857 3.2 9.52381C3.2 10.659 2.2781 11.581 1.14286 11.581H0V14.4762C0 15.3143 0.685714 16 1.52381 16H4.41905V14.8571C4.41905 13.7219 5.34095 12.8 6.47619 12.8C7.61143 12.8 8.53333 13.7219 8.53333 14.8571V16H11.4286C12.2667 16 12.9524 15.3143 12.9524 14.4762V11.4286H14.0952C15.1467 11.4286 16 10.5752 16 9.52381C16 8.47238 15.1467 7.61905 14.0952 7.61905Z"
          fill="#6202EE"
        />
      </svg>
      <span>WTYCZKA DO CHROME</span></a
    >
  </nav>
</header>
