@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.bg-indigo {
  background: $indigo;
}

.nav-link-custom {
  color: #6f42c1;
  padding-left: 0;
  padding-top: 11px;
}

.download {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  background: white;
  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 114% */
    margin-left: 5px;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    /* 01. Primary/500 */

    color: #6200ee;
  }
  &:hover {
    text-decoration: none;
  }
  svg {
    position: relative;
    top: -2px;
  }
  &.alone {
    position: absolute;
    top: 10px;
    right: 32px;
  }
}
