h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.home-bg {
  background: url(/assets/home_bg.png) no-repeat 20% bottom;
  background-size: 300px 322px;
}

.desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  width: 480px;
  margin: 40px auto;
  text-align: center;
  letter-spacing: 0.4px;
  text-shadow: 0px 0px 5px white;
  /* Black — Inactive */

  color: rgba(0, 0, 0, 0.54);
}

input {
  border-radius: 3.5px;
  height: 54px;
}

.or {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */

  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 54px;
  /* Black — Inactive */

  color: rgba(0, 0, 0, 0.54);
}

.ui-button {
  height: 54px;
  background: none;
  color: #6200ee;
  border-color: #6200ee;
}
.ui-button.bigbutton {
  background: #6200ee;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.ui-button:enabled:hover {
  background-color: #6200ee;
  color: #ffffff;
  border-color: #6200ee;
}
.ui-button:enabled:focus {
  outline: 0 none;
  outline-offset: 0px;
  -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
  -moz-box-shadow: 0 0 0 0.2em #8dcdff;
  box-shadow: 0 0 0 0.2em #8dcdff;
}
.ui-button:enabled:active {
  background-color: #6200ee;
  color: #ffffff;
  border-color: #6200ee;
}

hr {
  margin-top: 0;
  margin-bottom: 50px;
}
