<div class="container-fluid">
  <div class="home-bg">
    <div class="pb-3 pt-5 text-center">
      <strong class="mb-2">Nie przejmuj się wszystkim, co czytasz. Nie stresuj się. Sprawdź.</strong>
      <h1 style="margin-top: 20px;">Czy to prawda?</h1>
      <p class="desc">
        Wyślij fragment tekstu, link lub obraz, który wydaje Ci się podejrzany. Powiemy Ci, czy to fake news lub
        przekażemy moderatorom do weryfikacji.
      </p>
    </div>
    <div class="ui-g" style="max-width: 800px; margin: 0 auto;">
      <div class="ui-g-7">
        <span class="ui-float-label">
          <input class="w-100" id="float-input" type="text" size="30" pInputText [(ngModel)]="text" />
          <label for="float-input">np. Zwierzęta przenoszą koronawirusa</label>
        </span>
      </div>
      <div class="ui-g-1 or text-center">lub</div>
      <div class="ui-g-4">
        <button class="w-100" pButton type="button" icon="pi pi-plus" iconPos="left" label="WYŚLIJ OBRAZ"></button>
      </div>
    </div>
    <div class="text-center">
      <button
        class="bigbutton"
        pButton
        type="button"
        label="SPRAWDŹ TEN NEWS"
        (click)="checkNewsHandler()"
        [disabled]="!text"
      ></button>
    </div>
  </div>
  <hr />
  <div class="ui-g" style="max-width: 800px; margin: 0 auto; padding-bottom: 50px;">
    <div class="ui-g-4">
      <button routerLink="/list" class="modbutton w-100" pButton type="button" label="JESTEM MODERATOREM"></button>
    </div>
    <div class="ui-g-1"></div>
    <div class="ui-g-7">
      <p class="details">
        Zaloguj się lub zgłoś na moderatora newsów. Sprawdzaj przesłane treści i oznaczaj czy są prawdziwe.
      </p>
    </div>
  </div>
</div>
