.img-bg {
  background: url(/assets/fake.png) no-repeat 30% bottom;
  background-size: 344px 370px;
}
p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  line-height: 16px;
}
.desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  width: 480px;
  margin: 20px auto;

  text-align: center;
  letter-spacing: 0.4px;

  /* Black — Inactive */

  color: rgba(0, 0, 0, 0.54);
}
h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}
h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 30px;
  color: #000000;
}
.warning {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  text-align: center;
  letter-spacing: 0.5px;

  color: #000000;
}

.fake {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  width: 480px;
  margin: 0px auto;
  text-align: center;
  letter-spacing: 0.25px;

  /* Primary — 300 */

  color: #9e54fc;
}

.ui-button {
  height: 50px;
  color: #6200ee;
  background: #6200ee;
  border-radius: 4px;
}
.ui-button.bigbutton {
  background: #6200ee;
  border-color: #6200ee;
  color: white;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.ui-button:enabled:hover {
  background-color: #6200ee;
  color: #ffffff;
  border-color: #6200ee;
}
.ui-button:enabled:focus {
  outline: 0 none;
  outline-offset: 0px;
  -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
  -moz-box-shadow: 0 0 0 0.2em #8dcdff;
  box-shadow: 0 0 0 0.2em #8dcdff;
}
.ui-button:enabled:active {
  background-color: #6200ee;
  color: #ffffff;
  border-color: #6200ee;
}
.linkCopied {
  width: 157px;
  height: 23px;
  margin-top: 40px;
  margin-bottom: 50px;
  display: inline-block;

  /* H6 / Roboto Medium */

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;

  /* Primary — 500* */

  color: #6202ee;
}
